@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  /* overflow: hidden; */
}

.splash-bg-blur {
  background: radial-gradient(
    49.87% 49.82% at 48.88% 49.14%,
    #eec865 0%,
    rgba(238, 200, 101, 0.98) 10%,
    rgba(238, 200, 101, 0.92) 22%,
    rgba(238, 200, 101, 0.81) 36%,
    rgba(238, 200, 101, 0.67) 51%,
    rgba(238, 200, 101, 0.48) 67%,
    rgba(238, 200, 101, 0.26) 83%,
    rgba(238, 200, 101, 0) 100%
  );
}

.custom-animation-classes {
  animation-fill-mode: forwards;
}

@layer base {
  .splash-bg-blur {
    @apply bg-blend-soft-light mix-blend-soft-light px-32 py-20;
  }

  .language-card {
    @apply bg-lang-card-color overflow-hidden w-full text-white backdrop-blur-xl border-[#34374b] border rounded-t-[40px] p-5 font-semibold flex gap-5 flex-col animate-slideInFromButtom;
  }

  hgroup form div {
    @apply flex gap-4 justify-between text-lg items-center;
  }

  .menu-items-splash-screen {
    @apply bg-menu-bg rounded-2xl text-gold border-[#34374b] border backdrop-blur-md p-4;
  }
}
