@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body,
#root {
  height: 100%;
}

.splash-bg-blur {
  background: radial-gradient(
    49.87% 49.82% at 48.88% 49.14%,
    #eec865 0%,
    rgba(238, 200, 101, 0.98) 10%,
    rgba(238, 200, 101, 0.92) 22%,
    rgba(238, 200, 101, 0.81) 36%,
    rgba(238, 200, 101, 0.67) 51%,
    rgba(238, 200, 101, 0.48) 67%,
    rgba(238, 200, 101, 0.26) 83%,
    rgba(238, 200, 101, 0) 100%
  );
}

@layer base {
  .splash-bg-blur {
    @apply bg-blend-soft-light mix-blend-soft-light px-36 py-20;
  }

  .language-card {
    @apply bg-lang-card-color overflow-hidden w-full text-white backdrop-blur-[5.3653px] border-[#34374b] border rounded-t-[40px] p-5 font-semibold flex gap-5 flex-col;
  }

  hgroup form div {
    @apply flex gap-4 justify-between text-lg;
  }
}
