@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.splash-bg-blur {
  background: radial-gradient(
    49.87% 49.82% at 48.88% 49.14%,
    #eec865 0%,
    rgba(238, 200, 101, 0.98) 10%,
    rgba(238, 200, 101, 0.92) 22%,
    rgba(238, 200, 101, 0.81) 36%,
    rgba(238, 200, 101, 0.67) 51%,
    rgba(238, 200, 101, 0.48) 67%,
    rgba(238, 200, 101, 0.26) 83%,
    rgba(238, 200, 101, 0) 100%
  );
}

.custom-animation-classes {
  animation-fill-mode: forwards;
}
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-fill-transparent {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@layer base {
  .splash-bg-blur {
    @apply bg-blend-soft-light mix-blend-soft-light px-32 py-20;
  }

  .language-card {
    @apply bg-lang-card-color overflow-hidden w-full text-white backdrop-blur-xl border-[#34374b] border rounded-t-[40px] p-5 font-semibold flex gap-5 flex-col animate-slideInFromButtom;
  }

  .language-card-outro {
    @apply bg-lang-card-color overflow-hidden w-full text-white backdrop-blur-xl border-[#34374b] border rounded-t-[40px] p-5 font-semibold flex gap-5 flex-col animate-slideToButtom custom-animation-classes;
  }

  hgroup form div {
    @apply flex gap-4 justify-between text-lg items-center;
  }

  .menu-items-splash-screen {
    @apply bg-menu-bg rounded-2xl text-gold border-[#34374b] border backdrop-blur-md px-4 py-2;
  }

  .menu-link {
    @apply flex min-w-fit gap-3 border-gold border text-gold px-3 py-2 rounded-full font-semibold;
  }

  .active-link {
    @apply bg-gold border-none text-bgBlack;
  }

  .header-text-gradient {
    @apply bg-gradient-to-r from-white to-gold bg-clip-text text-4xl mt-4 max-w-[280px] font-semibold text-fill-transparent;
  }

  .menu-btns {
    @apply bg-gold  px-2 rounded-md  py-[.1rem] cursor-pointer text-center;
  }

  .menu-cards input {
    @apply text-gold border border-gold bg-transparent focus:outline-none focus:border-2 max-w-[2rem]  rounded-md text-center;
  }

  .menu-cards {
    @apply bg-lang-card-color p-5 gap-4 items-center flex flex-col relative font-bold rounded-lg  text-white;
  }
}
